name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'

      - name: Install Dependencies
        run: |
          go mod tidy
          go install github.com/fyne-io/fyne-cross@latest

      - name: Build APK (arm64)
        run: |
          # Build khusus arm64 agar ukuran APK ramping
          $HOME/go/bin/fyne-cross android -app-id com.richo.kalender -arch arm64 -silent

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: APK-Selamatan-Final
          path: fyne-cross/dist/**/*.apk
